<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.thoughtworks.kosha.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.thoughtworks.kosha.Perspective"
            fixed="true"
            id="Kosha.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.thoughtworks.kosha.View"
            id="Kosha.view"
            name="View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="Kosha.view"
               minimized="false"
               moveable="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="kosha"
         point="org.eclipse.core.runtime.products">
      <product
            application="Kosha1.application"
            name="Kosha">
         <property
               name="appName"
               value="Kosha">
         </property>
      </product>
   </extension>

</plugin>
